.git
.gitignore
.idea
.vscode
.env
.env.*
!.env.example
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
tests
*.md
!PROJECT_BRIEF.md
docker-compose-*.yaml
Dockerfile
.dockerignore
